# Go
buildx/
/pkg/
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test output
*.test
coverage.html

# Go coverage
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/

# Environment files
.env
.env.local

# Build artifacts
/dist/
Dockerfile

# OSX
.DS_Store